.jumbotron{
    background: url('../images/—Pngtree—modern shiny glitters background_3543006.jpg');
    background-size: 18%;

}

h1{
    text-align: center;
    }

body{
    background: url('../images/—Pngtree—modern shiny glitters background_3543006.jpg');
    background-size: 50%;
}