.jumbotron{
    background: url('https://png.pngtree.com/png-clipart/20190515/original/pngtree-modern-shiny-glitters-background-png-image_3543006.jpg');
    background-size: 18%;

}

h1{
    text-align: center;
    }

body{
    background: url('https://png.pngtree.com/png-clipart/20190515/original/pngtree-modern-shiny-glitters-background-png-image_3543006.jpg');
    background-size: 50%;
}